Options -Indexes
DirectoryIndex public/index.php
<FilesMatch "^\.">
    Require all denied
</FilesMatch>
RewriteEngine On
RewriteRule ^(config|app|logs)(/|$) - [F,L]
RewriteRule ^database\.sql$ - [F,L,NC]
RewriteRule ^(.*/)?\.env$ - [F,L,NC]
RewriteRule ^public(/|$) - [L]
RewriteRule ^(.+)$ public/$1 [QSA,L]
